<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10000">
    <property name="SERVER_NAME" value="${agent_server_definition_name:- }" />
    <!-- 给与根节点Appender -->
    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/sandbox/precision/${SERVER_NAME}code-coverage-module.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${user.home}/logs/sandbox/precision/${SERVER_NAME}code-coverage-module.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%boldWhite(%d{HH:mm:ss:SSS}) %highlight(%-5level) [%thread] %cyan(%-35.35logger{39}) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref = "FILE_LOG"/>
    </root>

</configuration>